@font-face {
  font-family: Untitled Sans;
  src: url(./fonts/UntitledSansTest-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

/* Global */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  cursor: pointer;
}

ul {
  list-style-type: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.dir li {
  cursor:pointer;
}

body {
  height: 100%;
  transition: 1s all;
  margin: 0 auto;
  background: #FAFAFA;
  color: #443C49;
  font-family: 'Untitled Sans', serif;
  font-weight: 400;
  font-size: 2.25vw;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0%;
}

.popup {
	color: #0074D9;
}

.popup-elem {
  max-width: 500px;
  min-width: 400px;
}

.container {
  margin: 5%;
}

.popover {
  pointer-events: none;
}

.item {
  display:none;
}
